<div class="container">
<form [formGroup]="loginForm">
  <div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" formControlName="name" type="" placeholder="Enter your name" id="name">
  <p *ngIf="loginForm.controls.name.errors">This field is mandatory</p>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="enter your email" id="email">
    <p *ngIf="loginForm.controls.email.errors">This field is mandatory</p>
  </div>
  <div class="form-group">
  <label for="password">Password</label>
  <input class="form-control" formControlName="password" type="password" placeholder="Enter your password" id="password">
  <p *ngIf="loginForm.controls.password.errors">This field is mandatory</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit </button>
</form>
</div>
